@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&display=swap');
*{
    text-decoration: none;
    cursor: inherit;
}
.sidebar {
    flex: 0 0 23%;
    font-family: 'Inter', sans-serif;
    border-left: 1px solid #2F3336;
    padding-right: 3rem;
}
.sidebar-content{
    margin-left: 1rem;
}

.page-title-sidebar {
    font-size: 1rem;
    font-family: 'Inter', sans-serif;
    color: rgb(238, 231, 231);
}

.side-nav{
    
    display: flex;
    align-items: center;
    gap: 1.2rem;
}

.buttonS{
    margin-top: 1.6rem;
    text-transform: capitalize;
    padding: .4rem;
    border: none;
    border-radius: 50px;
    background-color: #1D9BF0;
    color: white;
    font-size: 1rem;
    width: 90%;
}
.user-footer{
    display: flex;
    padding-top: 17rem;
    justify-content: space-between;
}
.user-footer>.img{
    padding-left: 3rem;
}
.footer-cont{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 10px;
    font-size: 1rem;
    margin-bottom: 0;
    cursor: pointer;
}
.footer-content>p{
    margin: 0;
}

/* Effets hover */

.side-nav>h1:hover{
    text-decoration: underline;
    cursor: pointer;
}
img:hover{
    cursor: pointer;
}
.author:hover{
    cursor: pointer;
}
