@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&display=swap');

.trends {
    flex: 0 0 23%;
    font-family: 'Inter', sans-serif;
    border-right: 1px solid #2F3336 ;
    width: 19rem;
}

.trends>#search-bar{
    display: flex;
    background-color: rgb(35, 34, 34);
    margin: 4%;
    height: 25px;
    border-radius: 25px;
}
.trends>#search-bar > input {
   border: none;
   outline: none;
   background:none;
}
.trends>#search-bar > img {
    border: none;
}
.trend{
    background-color: rgb(35, 34, 34);
    margin: 2%;
    border-radius: 7px;
    padding-left: 0.6rem;
    padding-right: 0.4rem;
    width: 90%;
    display: inline-block;
    align-items: center;
}
.trend>.p{
    margin: 0;
    margin-bottom: 5px;
    margin-top: 13px;
    color: rgb(77, 77, 241);
    
}

.titre{
    display: flex;
    justify-content: space-between;
}
.author-detail{
    color: #666768;
}

    div>.author {
        /* display: inline-block;
        width: 10rem;
        gap: 10px;
        font-size: 1rem; */
        display: inline-block;
        /* justify-content: space-between; */
        color: whitesmok
        
    }

.author-name{
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    /* color:white */
}
.trend-author{
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: whitesmoke;
    align-items: flex-start;

}
.content{
    display: flex;
    align-items: flex-start;
    /* justify-content: space-between; */
}
.trend-content>p{
    margin-top: 0.2rem;
    margin-bottom: 0.2rem;
}
div>.trend-avatar{
    max-width: 100%;
    max-height: 100px;
    border-radius: 100%;
    margin: 5px;
}
.author-name{
    margin-top: 0;
    margin-bottom: 0;
}
.trend>.content{
    display: flex;
    justify-content: space-between;
}

.trend-content{
    margin-bottom: 18px;
}
.content>button{
    background-color: rgb(223, 212, 212)(216, 210, 210)(216, 210, 210)(138, 127, 127);
    border: none;
    border-radius: 19px;
    height: 1.7rem;
    margin-top: 4px;
    margin-bottom: 4px;    
}

button{
    cursor: pointer;
}
/* .p{
    margin: 0;
    margin-bottom: 12px;
    color: rgb(77, 77, 241);
    cursor: pointer;
} */

/* Actions hover */

.author-name:hover{
    text-decoration: underline;
    cursor: pointer;
}