.sidebar {
          font-family: 'Inter', sans-serif;
          width: 150px;
          height: 140px;
          position: relative;

}

.Navigation {
    /* position: relative;
    top: 5px;
    left: 10px; */
    
}

.icon {
    /* display: flex;
    align-items: left;
    justify-content: ; */

}